h1 {
    width: 100%;
    background-color: #c3d6d4;
}

body {
    font-family: Sans-Serif;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
}

tr.table_header {
    color: white;
    background-color: #6e6e6e;
}

tr {
    background-color: #EBEBEB;
    border: 2px solid black;
}